<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RED</key>
	<dict>
		<key>alphas</key>
		<dict>
			<key>alpha1</key>
			<real>0.2</real>
			<key>alpha2</key>
			<real>0.4</real>
			<key>alpha3</key>
			<real>0.6</real>
			<key>alpha4</key>
			<real>0.8</real>
		</dict>
		<key>images</key>
		<dict>
			<key>image1</key>
			<string>image_red</string>
			<key>image2</key>
			<string>image_blue</string>
			<key>image3</key>
			<string>night</string>
			<key>image4</key>
			<string>normal</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>HIGHLIGHTED</key>
			<string>#dedede</string>
			<key>BAR</key>
			<string>#ffff00</string>
			<key>RICH</key>
			<string>#ff00ff </string>
			<key>TEXT</key>
			<string>#ff00ff</string>
			<key>TINT</key>
			<string>#fa0000</string>
			<key>SEP</key>
			<string>#aaaaaa</string>
			<key>BG</key>
			<string>#fafafa</string>
		</dict>
	</dict>
	<key>NORMAL</key>
	<dict>
		<key>alphas</key>
		<dict>
			<key>alpha1</key>
			<integer>1</integer>
			<key>alpha2</key>
			<real>0.4</real>
			<key>alpha3</key>
			<real>0.2</real>
			<key>alpha4</key>
			<real>0.6</real>
		</dict>
		<key>images</key>
		<dict>
			<key>image1</key>
			<string>normal1</string>
			<key>image2</key>
			<string>normal</string>
			<key>image3</key>
			<string>image_red</string>
			<key>image4</key>
			<string>image_blue</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>HIGHLIGHTED</key>
			<string>#f0f0f0</string>
			<key>BAR</key>
			<string>#00ffff</string>
			<key>RICH</key>
			<string>#0000ff</string>
			<key>TEXT</key>
			<string>#000000</string>
			<key>TINT</key>
			<string>#0000ff</string>
			<key>SEP</key>
			<string>#aaaaaa</string>
			<key>BG</key>
			<string>#fffff</string>
		</dict>
	</dict>
	<key>NIGHT</key>
	<dict>
		<key>alphas</key>
		<dict>
			<key>alpha1</key>
			<real>0.8</real>
			<key>alpha2</key>
			<real>0.6</real>
			<key>alpha3</key>
			<real>0.4</real>
			<key>alpha4</key>
			<real>0.2</real>
		</dict>
		<key>images</key>
		<dict>
			<key>image1</key>
			<string>image_blue</string>
			<key>image2</key>
			<string>image_red</string>
			<key>image3</key>
			<string>normal1</string>
			<key>image4</key>
			<string>night</string>
		</dict>
		<key>colors</key>
		<dict>
			<key>HIGHLIGHTED</key>
			<string>#222222</string>
			<key>BAR</key>
			<string>#444444</string>
			<key>RICH</key>
			<string>#00ffff</string>
			<key>TEXT</key>
			<string>#00ffff</string>
			<key>TINT</key>
			<string>#ffff00</string>
			<key>SEP</key>
			<string>#313131</string>
			<key>BG</key>
			<string>#343434</string>
		</dict>
	</dict>
</dict>
</plist>
